Auto-import completed successfully.

{% if diffExpenses > 0 %}
Imported {{ diffExpenses }} expenses.
{% for expense in expenses %}
 - {{ expense | TransactionSummary }}
{% endfor %}
{% else %}
No new expenses imported.
{% endif %}

{% if diffDeposits > 0 %}
Imported {{ diffDeposits }} deposits.
{% for deposit in deposits %}
 - {{ deposit | TransactionSummary }}
{% endfor %}
{% else %}
No new deposits imported.
{% endif %}

{% if diffTransfers > 0 %}
Imported {{ diffTransfers }} transfers.
{% for transfer in transfers %}
 - {{ transfer | TransactionSummary }}
{% endfor %}
{% else %}
No new transfers imported.
{% endif %}

**Account balance:** {{ accountBalance }} {{ accountCurrency }}

[View Transactions](<{{ "" | UrlFireflyTransactions }}>)

[Control Page](<{{ "" | UrlSparkleftControlPage }}>)
