Auto-import completed successfully.

Imported {{ diffExpenses }} expenses and {{ diffDeposits }} deposits.

[View Transactions](<{{ "" | UrlFireflyTransactions }}>)

[Control Page](<{{ "" | UrlSparkleftControlPage }}>)
