{{ "notif_autoimport_successful" | i18n }}

{% if diffExpenses > 0 %}
{{ "notif_autoimport_imported_expenses" | i18n }}
{% for expense in expenses %}
 - {{ expense | TransactionSummary }}
{% endfor %}
{% else %}
{{ "notif_no_new_expenses" | i18n }}
{% endif %}

{% if diffDeposits > 0 %}
{{ "notif_autoimport_imported_deposits" | i18n }}
{% for deposit in deposits %}
 - {{ deposit | TransactionSummary }}
{% endfor %}
{% else %}
{{ "notif_no_new_deposits" | i18n }}
{% endif %}

{% if diffTransfers > 0 %}
{{ "notif_autoimport_imported_transfers" | i18n }}
{% for transfer in transfers %}
 - {{ transfer | TransactionSummary }}
{% endfor %}
{% else %}
{{ "notif_no_new_transfers" | i18n }}
{% endif %}

**{{ "notif_account_balance" | i18n }}{{ "precolon" | i18n }}:** {{ accountBalance }} {{ accountCurrency }}

[{{ "notif_view_transactions" | i18n }}](<{{ "" | UrlFireflyTransactions }}>)

[{{ "notif_webui" | i18n }}](<{{ "" | UrlSparkleftControlPage }}>)
