| {{ "notif_name" | i18n }} | {{ "notif_limit" | i18n }} | {{ "notif_spent" | i18n }} | {{ "notif_left" | i18n }} |
|-----|-------|-------|----------|
{% for budget in insights %}
| {{ budget.name }} | {{ budget.budgetLimit }} {{ budget.currency }} | {{ budget.spent }} {{ budget.currency }} | {{ budget.leftover }} {{ budget.currency }} ({{ budget.leftPerDay }} {{ budget.currency }}) |
{% endfor %}

**{{ "notif_account_balance" | i18n }}{{ "precolon" | i18n }}:** {{ accountBalance }} {{ accountCurrency }}

[{{ "notif_view_budgets" | i18n }}](<{{ "" | UrlFireflyBudgets }}>)

[{{ "notif_webui" | i18n  }}](<{{ "" | UrlSparkleftControlPage }}>)
