{{ "notif_overspent_head_line" | i18n }}

{{ "notif_spent" | i18n }}: `{{ spent }} {{ currencySymbol }}`

{{ "notif_limit" | i18n }}: `{{ limit }} {{ currencySymbol }}`

{{ "notif_overspent_new_limit" | i18n }}: `{{ spent }} {{ currencySymbol }}`

[{{ "notif_view_budgets" | i18n }}](<{{ "" | UrlFireflyBudgets }}>)
