Budget **{{ budgetName }}** is overspent!
Spent: `{{ spent }} {{ currencySymbol }}`
Limit: `{{ limit }} {{ currencySymbol }}`
New limit set to `{{ spent }} {{ currencySymbol }}`
[View Budgets](<{{ env.fireflyUrl }}/budgets>)
