`{{ transaction.amount | toFixed(transaction.currency_decimal_places) }} {{ transaction.currency_symbol }}` {{ transaction.description }}
[Link](<{{ transactionId | UrlFireflyTransactionShow }}>)
{% for budget in budgets %}
- [`{{ budget.attributes.name }}`](<{{ transactionId | UrlSparkleftBudgetSet(budget.id) }}>)
{% endfor %}
