`{{ amount }} {{ currencySymbol }}` {{ description }}
[Link](<{{ transactionLink }}>)
{% for budget in budgets %}
- [`{{ budget.name }}`](<{{ serviceUrl }}/transaction/{{ transactionId }}/budget/{{ budget.id }}?api_token={{ apiToken }}>)
{% endfor %}
