`{{ transaction.amount | toFixed(transaction.currency_decimal_places) }} {{ transaction.currency_symbol }}` {{ transaction.description }}
[Link](<{{ transactionId | UrlFireflyTransactionShow }}>) | [Select Category](<{{ transactionId | UrlSparkleftCategorySetUI }}>)
{% for category in categories %}
- [`{{ category.attributes.name }}`](<{{ transactionId | UrlSparkleftCategorySet(category.id) }}>)
{% endfor %}
