`{{ transaction.amount | toFixed(transaction.currency_decimal_places) }} {{ transaction.currency_symbol }}` {{ transaction.description }}

[{{ "notif_transaction" | i18n }}](<{{ transactionId | UrlFireflyTransactionShow }}>)

[{{ "notif_select_category" | i18n }}](<{{ transactionId | UrlSparkleftCategorySetUI }}>)

[{{ "notif_new_rule" | i18n }}](<{{ transaction | UrlFireflyNewRule }}>)

[{{ "notif_rules" | i18n }}](<{{ "" | UrlFireflyRules }}>)

{# {% for category in categories %} #}
{# - [`{{ category.attributes.name }}`](<{{ transactionId | UrlSparkleftCategorySet(category.id) }}>)   #}
{# {% endfor %} #}

|  |  |  |
|--|--|--|
{% for group in categoriesGroups %}
|{% for category in group %} [{{ category.attributes.name }}](<{{ transactionId | UrlSparkleftCategorySet(category.id) }}>) | {% endfor %}{% for _ in range(3 - group.length) %} |{% endfor %}

{% endfor %}
